.poster{
    width: auto;
    background-color: #fff;
    height: 83vh;
    aspect-ratio: 9/16;
    /* margin: 5vh; */
}

/* .gdPoster{
    display: flex;
    justify-content: center;
    align-items: center;
} */
